@let p = product();
@let asp = aspect();
<div class="w-full">
  <div class="relative w-full h-fit rounded-modular overflow-hidden">
    <img [src]="p.productImageUrl" [alt]="p.name" fill
         [class]="asp === 'video' ? 'aspect-video' : 'aspect-square'"
         class="object-cover w-full h-[clamp(168px,22vw,375px)]"
    />

    <img
      ngSrc="assets/shared/not-wishlist-icon.svg"  alt="not wishlisted"  width="40"
      height="40" class="absolute top-[20px] right-[20px]"
    />
  </div>

  <div class="md:py-[20px] flex flex-col gap-[4px] font-inter">
    <span class="text-[clamp(18px,1.66vw,24px)] text-[#121212]">
      {{ p.name }}
    </span>

    <span class="text-[clamp(16px,1.36vw,20px)] text-[#121212]/80">
      {{ p.price }}
    </span>
  </div>
</div>
