@let c = card();
<div

  class="rounded-modular bg-cover aspect-[48/38] w-[375px] md:w-[25vw] justify-end bg-black flex flex-col"
  [style.background-image]="`url(${c.imageUrl})`"
>
  <div class="flex items-center justify-between p-2 md:px-[1.56vw] pb-[clamp(20px,1.56vw,30px)]">
    <span
      [class]="c.isBgDark ? 'text-white' : 'text-black font-bold'"
      class="font-inter text-[31px] md:text-[2.08vw] leading-[100%]"
    >
      {{ c.title }}
    </span>
    <a [href]="c.targetUrl" class="cursor-pointer">
      <img
        src="assets/shared/top-right-white-arrow.svg"
        alt="top-right-white-arrow"
        class="h-[30px] w-auto md:w-[1.56vw] md:h-[1.56vw]"
      />
    </a>
  </div>
</div>
