/* You can add global styles to this file, and also import other style files */
@import "tailwindcss";

.font-inter {
  font-family: 'Inter', sans-serif !important;
}

.rounded-modular{
 @apply rounded-[clamp(24px,2.08vw,40px)];
}

.width-margin-20px{
  @apply w-[calc(100dvw-20px)] md:max-w-[1440px]
}

@layer utilities {
  .scrollbar-hidden {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;     /* Firefox */
  }

  .scrollbar-hidden::-webkit-scrollbar {
    display: none;             /* Chrome, Safari */
  }
}
